body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  width: 70%;
  padding: 1rem;
  float: center;
  margin: auto auto;
}

.textfield-container {
  width: 80%;
  display: inline-block;
  margin-right: 1rem;
}

.form {
  width: 100%;
  height: 10vh;
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.confirm-button {
  display: inline-block;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.grid-recepies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: space-between;

}

.card-image {
  height: 0;
  padding-top: '56.25%';
}

body {
  background-color: rgb(243, 243, 243);
}

.no-data-contaier {
  display: flex;
  justify-content: center;
  align-items: center;
}